h2{
    margin: 0;
    padding: 20px 0;
}

form{
    display: flex;
    justify-content: space-around;
}

form input{
    line-height: 40px;
    border: thin solid #ccc;
    padding: 0 4px;
    border-radius: 5px;
}
