.App {

  padding: 50px;
  background-color: #66CCFF;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}



Header{
  background-color: #61dafb;
  height:150px;


}
Main
{
  background-color: #fbc3b4;
  height:500px;
  width:70%;
  display:inline-block;
  float:left;


}


Aside{

  background-color: #e5ff62;
  display:inline-block;
  width:30%;
  height:500px;


}

.demo{
  background-color: #4cfb49;
  height:300px;

}




/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/